*.txt
!phrases.txt
!requirements.txt
*.mp3
*.wav
*.xml
*.html
*.log
*.save
*.bak
*.coverage
*.jpg
*.png
*.bin
*.zip
*.spec
*.vscode

__pycache__/
results/
assets/
bak/
build/
dist/
venv/
.python-version
