*.txt
!requirements.txt
*.mp3
*.wav
*.xml
*.html
*.log
*.save
*.bak
*.coverage
*.jpg
*.png
*.bin
*.zip
*.spec
*.vscode

.cache/
.DS_Store

__pycache__/
results/
htmlcov/
assets/
bak/
build/
dist/
venv/
.venv/
.python-version
*.sublime*
*.egg-info*
.coverage*
